body {
    background-color: rgb(0, 0, 0);
	text-align: center;
	color: lightgray;
}

footer{
	bottom: 10px;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
	margin-top: 50px;
    background-color: rgb(0, 0, 0);
}
.cell {
	color: black;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    border-color: aquamarine;
    background-color: grey;
	cursor: pointer;

}
.restartBtn{
	cursor: pointer;
	border-radius: 100%;
	background-color: rgb(48, 48, 48);
	
}
.hints{
	cursor: pointer;
	/* border-radius: 100%; */
	background-color: rgb(50, 50, 50);
}

.zero{
	background-color: rgb(229, 228, 228);

}

.almost{
	background-color: rgb(177, 176, 176);
	/* background-color: rgba(177, 176, 176, 0.723); */

}

.bomb{
	background-color: rgb(201, 11, 11);
}

.safe{
	background-color: rgb(44, 133, 168);
	cursor: pointer;

}
.dark{
	background-color: black;
	cursor: pointer;

}
.light{
	background-color: antiquewhite;
	cursor: pointer;

}